html {
	text-align: center;
	background-image: url("static/background.jpeg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 25%;
	min-height: 100vh;
}

@media (orientation: landscape) {
	html {
		background-size: 100vw auto;
	}
}

@media (orientation: portrait) {
	html {
		background-size: auto 100vh;
	}
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #fff;
	font-family: monospace;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
  padding: 1rem;
  font-size: 2.5rem;
}

.links:hover {
  text-decoration: underline;
}

a {
	outline: none;
	text-decoration: none;
	text-shadow: 2px 5px 8px rgba(57, 52, 166, 0.5);
	padding: 2px 5px 0;
	color: #595959;
	font-family: monospace;
  font-size: 1rem;
}

a:hover {
	color: #eaeaea;
	text-shadow: 0 0 7px #eaeaea, 0 0 10px #eaeaea, 0 0 21px #eaeaea;
  font-size: 1.3rem;
}
